#main {
	width: 800px;
	margin: 0 auto;

	line-height: 17px;
	/* border: 0.5px solid #ccc; */
}

section {
	/* margin-top: -3px; */
}

header {
	text-align: center;
}

header h2 {
	margin-bottom: 10px;
}

header hr {
	width: 40%;
	margin-bottom: 25px;
}

main {
	font-size: 15px;
}

main .section-header {
	font-weight: bold;
	padding-bottom: 7.5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #000;
	width: 100%;

	margin-top: 5px;

	/* uppercase */
	text-transform: uppercase;
}

.section-row {
	display: table;
	width: 100%;
}

.row-title {
	font-weight: bold;
	margin-bottom: 2.5px;
}

.section-row p,
.section-row b {
	margin: 0px;
}

.section-row ul {
	margin-top: 2.5px;
}

.section-row .right {
	text-align: right;
	width: 25%;
	margin: 0px;
}

.section-row .left {
	width: 75%;
	margin: 0px;
}

.column {
	float: left;
}

a {
	color: #000;
	text-decoration: none;
}
